<aside class="sidebar">
  <section class="sidebar__block">
    <header class="sidebar__head">
      <app-icon name="arrow-right" [size]="18" color="var(--color-primary)"></app-icon>
      <h4>Categorias</h4>
    </header>
    <ul class="sidebar__categories">
      <li *ngFor="let cat of categories" [class.is-active]="cat.active">
        <a [href]="cat.href">{{ cat.label }}</a>
        <span class="sidebar__count">{{ cat.count < 10 ? '0' + cat.count : cat.count }}</span>
      </li>
    </ul>
  </section>

  <section class="sidebar__block">
    <header class="sidebar__head">
      <app-icon name="arrow-right" [size]="18" color="var(--color-primary)"></app-icon>
      <h4>Postagens Recentes</h4>
    </header>
    <div class="sidebar__post" *ngFor="let post of recentPosts">
      <p class="sidebar__post-date">{{ post.date }}</p>
      <p class="sidebar__post-excerpt">{{ post.excerpt }}</p>
      <a class="sidebar__post-link" [href]="post.href">Ler Artigo +</a>
    </div>
  </section>

  <ng-container *ngFor="let extra of extras">
    <a class="sidebar__ad" *ngIf="extra.kind === 'ad'" [href]="extra.href">
      <p>{{ extra.title }}</p>
      <span>{{ extra.ctaLabel }} [+]</span>
    </a>

    <div class="sidebar__brand" *ngIf="extra.kind === 'brand'">
      <p class="sidebar__brand-name">{{ extra.logoText }}</p>
      <p class="sidebar__brand-subtitle">{{ extra.subtitle }}</p>
      <p class="sidebar__brand-title">{{ extra.title }}</p>
      <a [href]="extra.href">{{ extra.ctaLabel }} [+]</a>
    </div>

    <section class="sidebar__sponsor" *ngIf="extra.kind === 'sponsor'">
      <header class="sidebar__head">
        <app-icon [name]="extra.icon" [size]="20" color="var(--color-primary)"></app-icon>
        <h4>{{ extra.title }}</h4>
      </header>
      <div class="sidebar__sponsor-media" *ngIf="extra.image">
        <img [src]="extra.image" [alt]="extra.title" loading="lazy" />
      </div>
      <div class="sidebar__sponsor-placeholder" *ngIf="!extra.image">
        <span>foto: {{ extra.title | lowercase }}</span>
      </div>
      <p>{{ extra.description }}</p>
      <a class="sidebar__sponsor-link" [href]="extra.href">
        {{ extra.linkLabel }}
        <app-icon name="arrow-right" [size]="14"></app-icon>
      </a>
    </section>
  </ng-container>
</aside>
